body {
    overflow: hidden;
}

.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inner {
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

h1 {
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;
    width: 280px;
}

.error {
    color: red;
}

.success {
    color: green;
    text-decoration: underline;
}

.bottom-div {
    margin-top: 1.5rem;
}

.bottom-div > a {
    margin-left: 0.5rem;
    text-decoration: underline;
}

.fa-solid {
    padding-right: 10px;
}